<mat-card-title *ngIf="deck.deckList">View Deck List</mat-card-title>
<mat-card-title *ngIf="!deck.deckList">Add Deck List</mat-card-title>
<mat-card-content *ngIf="deck.deckList">
  <mat-card-content>
    <mat-card-subtitle>Main Board</mat-card-subtitle>
    <mat-card-content *ngFor="let card of mainList" class="deckList">
      <div [innerHTML]="card.amount"></div>
      <div *ngIf="card.img"><span matTooltip="card.img" matTooltipShowDisplay="500" [innerHTML]="card.name"></span></div>
      <div *ngIf="!card.img" [innerHTML]="card.name"></div>
    </mat-card-content>
  </mat-card-content>
  <mat-card-content>
    <mat-card-subtitle>Side Board</mat-card-subtitle>
    <mat-card-content *ngFor="let card of sideBoard" class="deckList">
      <div [innerHTML]="card.amount"></div>
      <div *ngIf="card.img"><span matTooltip="card.img" matTooltipShowDisplay="500" [innerHTML]="card.name"></span></div>
      <div *ngIf="!card.img" [innerHTML]="card.name"></div>
    </mat-card-content>
  </mat-card-content>
</mat-card-content>
<mat-card-content>
  <input type="file" (change)="addDeck($event)" [hidden]="true" id="dek">
  <label for="dek" class="mat-raised-button mat-primary mat-button">Select Deck</label>
</mat-card-content>