<mat-card>
  <mat-card-content fxLayout="column">
    <mat-card-content fxLayout="row">
      <mat-form-field fxFlex="60">
        <input matInput placeholder="Email" type="email" [(ngModel)]="username" [formControl]="loginControl.controls['username']">
        <mat-error *ngIf="loginControl.controls['username'].hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="loginControl.controls['username'].hasError('pattern')">
          Invalid email
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-content fxLayout="row">
      <mat-form-field fxFlex="60">
        <input matInput placeholder="Password" type="password" [(ngModel)]="password" [formControl]="loginControl.controls['password']">
        <mat-error *ngIf="loginControl.controls['password'].hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-content *ngIf="error" fxLayout="row"><mat-error>{{error}}</mat-error></mat-card-content>
    <mat-card-actions fxLayout="row">
      <button mat-raised-button color="primary" (click)="login()" [disabled]="!loginControl.valid">Login</button>
      <button mat-raised-button color="warn" (click)="signIn()" [disabled]="!loginControl.valid">Register</button>
    </mat-card-actions>
    <!-- <mat-card-content fxLayout="row">
      Sign in with Google
    </mat-card-content> -->
    <mat-card-content fxLayout="row">
      <a (click)="forgotPassword()">Forgot Password</a>
    </mat-card-content>
  </mat-card-content>
</mat-card>