.mat-elevation-z6 {
  z-index: 2;
  position: relative;
}
.mat-card {
  margin: 1% !important;
}
.mat-tab-body-content {
  overflow: hidden !important;
}
.scrollable-content {
  overflow: auto;
  height: 94vh;
  margin-top: 2%;
}