<mat-card-content fxLayout="column">
  <mat-card-content fxLayout="row" *ngIf="deck.matches.length > 0">
    <div fxFlexOffset.gt-sm="10" fxFlex.gt-sm="80">
      <mat-card>
        <app-analytics></app-analytics>
      </mat-card>
    </div>
  </mat-card-content>
  <mat-card-content fxLayout="row">
    <div fxFlex.gt-sm="80" fxLayout.lt-md="column" fxFlexOffset.gt-sm="10">
      <mat-card fxFlexOrder.lt-md="2">
        <app-decklist></app-decklist>
      </mat-card>
      <mat-card fxFlexOrder.lt-md="1" fxFlex>
        <app-matches [deck]="deck"></app-matches>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card-content>