<mat-card-content fxLayout="column">
  <mat-card-content fxLayout="row" class="homeRow">
    <mat-card fxLayout="column" fxFlex="40" fxFlexOffset="10" fxFlexOffset.lt-md="1" fxFlex.lt-md fxLayoutAlign="center center" routerLink="/overview">
      <mat-icon class="fs-40">timeline</mat-icon>
      <div>Overview</div>
    </mat-card>
    <mat-card fxLayout="column" fxFlex="40" fxFlex.lt-md fxLayoutAlign="center center" routerLink="/deck/new">
      Add Deck
    </mat-card>
  </mat-card-content>
  <mat-card-content fxLayout="row" class="homeRow">
    <mat-card fxLayout="column" fxFlex="40" fxFlexOffset="10" fxFlexOffset.lt-md="1" fxFlex.lt-md fxLayoutAlign="center center" routerLink="/top">
      Top MTGO Decks
    </mat-card>
    <mat-card fxLayout="column" fxFlex="40" fxFlex.lt-md fxLayoutAlign="center center" routerLink="/import">
      Import
    </mat-card>
  </mat-card-content>
  <mat-card-content fxLayout="row" class="homeRow">
    <mat-card fxLayout="column" fxFlex="40" fxFlexOffset="10" fxFlexOffset.lt-md="1" fxFlex.lt-md fxLayoutAlign="center center" routerLink="/settings">
      <mat-icon class="fs-40">settings</mat-icon>
      <div>Settings</div>
    </mat-card>
    <mat-card fxLayout="column" fxFlex="40" fxFlex.lt-md fxLayoutAlign="center center" routerLink="/feedback">
      FeedBack
    </mat-card>
  </mat-card-content>
</mat-card-content>